.home{
    background-image: url(../img/home.jpg);
    background-repeat: no-repeat;
    background-position: right center;
}
li{
    list-style-type: none;
}

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight:700 bold;
  font-style: normal;
  background-color: rgb(241, 240, 240, 0.3);
}

.worksans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.about{
    background-image: url(../img/about.jpg);
    background-repeat: no-repeat;
    background-position: right center;
}

.opensans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    background-color: rgb(241, 240, 240, 0.3);
    color: darkgreen;
    font-weight: lighter;
}

.li2{
    list-style-type: decimal-leading-zero;
}

img{
    width: 650px;
}